---
import type { HTMLAttributes } from 'astro/types'
import type { CollectionEntry } from 'astro:content'
import Article from './article/article.astro'
import ArticleDate from '~/components/article/date.astro'
import ArticleTags from '~/components/article/tags.astro'
import { getExcerpt } from '~/utils/excerpt'
import { render } from '~/utils/render'

interface Props extends HTMLAttributes<'div'> {
  posts: Array<CollectionEntry<'posts'>>
}

const { posts, class: className, ...props } = Astro.props
---

<div class:list={['grid gap-y-4', className]} {...props}>
  {
    posts
      .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
      .map((post) => (
        <Article
          title={post.data.title}
          link={`/posts/${post.slug}`}
          type='card'
        >
          <ArticleDate
            date={post.data.date}
            link={`/posts/${post.slug}`}
            slot='header'
          />
          <Fragment set:html={render(getExcerpt(post.body)!)} />
          <ArticleTags tags={post.data.tags} />
        </Article>
      ))
  }
</div>
